<div class="row justify-content-center pl-2 pb-1">
  <h1>LWT Sessions</h1>
</div>

<div class="row sticky-top float-right pr-4">
  <button
    class="btn btn-secondary sticky-top float-right"
    (click)="onScroll('Thursday')"
  >
    Go to Thursday
  </button>
  <button
    class="btn btn-secondary"
    (click)="onScroll('Friday')"
  >
    Go to Friday
  </button>
  <button
    class="btn btn-secondary"
    (click)="onScroll('Saturday')"
  >
    Go to Saturday
  </button>
  <button
    class="btn btn-secondary"
    (click)="onScroll('workshopDescription')"
  >
    Back to top
  </button>
</div>

<div data-id="{{ sessionsGroup.day | date: 'EEEE' : timezone }}" class="pt-4" *ngFor="let sessionsGroup of sessionsByDay">
  <div class="row pl-4">
    <h2>{{ sessionsGroup.day | date : 'EEEE' : timezone }}</h2>
  </div>

  <div class="row p-1">
    <div
      *ngFor="let session of sessionsGroup.sessions; let i = index"
      class="col-sm-4 mt-4"
    >
      <div class="card border-secondary">
        <h5 class="card-header">
          {{ session.name }}
        </h5>

        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">
            <span class="oi oi-clock" title="Time" aria-hidden="true"></span>
              Start time: {{ session.startTime | date : 'hh:mm a' : timezone }}
            <span class="oi oi-map-marker pl-2"
              *ngIf="session.location"
              title="Location"
              aria-hidden="true"
            ></span>
              {{ session.location ? session.location : ''}}
          </h6>

          <span class="badge badge-info" *ngIf="session.topic">
            {{ session.topic ? session.topic : '' }}
          </span>

          <div class="card-text pt-2" *ngIf="session.speakers">
            Speaker(s):

            <div class="mt-2 col-12 text-center" *ngFor="let speaker of session.speakers">
              <p class="mb-0">
                <span
                  class="oi oi-person pr-2"
                  title="Speaker"
                  aria-hidden="true"
                ></span>
                {{ speaker.name }}
              </p>
              <p class="mb-0" *ngIf="speaker.position">
                {{ speaker.position }}
              </p>
              <a *ngIf="speaker.twitter" href="https://www.twitter.com/{{speaker.twitter}}" target="_blank">
                @{{ speaker.twitter }}
              </a>

            </div>
          </div>


          <div class="row mt-1">
            <div class="col-12">
              <span class="float-right">
                <button
                  *ngIf="!session.isSelected"
                  [ngClass]="{'btn': true, 'btn-primary': true, 'btn-sm': true, 'disabled': processingSession === session.id}"
                  (click)="addToCalendar(session.id)"
                >
                  Add to Calendar
                </button>
                <button
                  [id] = "'removeFromCalendar' + session.id"
                  *ngIf="session.isSelected"
                  [ngClass]="{'btn': true, 'btn-danger': true, 'btn-sm': true, 'disabled': processingSession === session.id}"
                  (click)="removeFromCalendar(session.id)"
                >
                  Remove from Calendar
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer text-muted" *ngIf="session.hasConflict">
            <i>This session conflicts with another on your calendar</i>
        </div>

      </div>
    </div>
  </div>
</div>
